# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.sqlite3

# Streamlit
.streamlit/secrets.toml

# Data
data/anomaly_log.csv
data/action_log.csv
user_data/

# OS
.DS_Store
venv/
data/.csv_imported
data/liveops.sqlite3
user_data/
